<section class="section section_options">
	<a class="back-button" href="#/"><img src="./src/img/retour.png" alt="go back to menu"></a>
	<h1>Choix de la pendule</h1>
	<ul class="options_list">
		<li class="options_item" ng-click="changeColor('clock1')"><img src="./src/img/clock1.png" alt="clock one"></li>
		<li class="options_item" ng-click="changeColor('clock2')"><img src="./src/img/clock2.png" alt="clock two"></li>
		<li class="options_item" ng-click="changeColor('clock3')"><img src="./src/img/clock3.png" alt="clock three"></li>
	</ul>
</section>