ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.home_list {

	.home_item {
		width: 300px;
		margin: 0 auto;
	}

}

.options_list {
	background: #fff;
	border: 3px solid #333;
	border-radius: 5px;
	margin: 0 150px;

	.options_item {
		display: inline-block;
		padding: 5px;
		width: 100px;
		cursor: pointer;

		img {
			width: 100%;
		}

	}

}